# Copy menjadi .dev.vars untuk wrangler dev
GAS_WEBAPP_URL=https://script.google.com/macros/s/ISI_DEPLOYMENT_ID/exec
GAS_API_SECRET=ISI_SECRET_YANG_SAMA_DENGAN_SCRIPT_PROPERTIES
ADMIN_SESSION_SECRET=ISI_SECRET_RANDOM_BERBEDA
